{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>








  <strong style="color: blue;">SEARCH RESULTS </strong> 
   
   <a href="{%url 'transaction_create'%}" class="btn-primary badge-pill btn-sm ml-4">add clients</a>
   <a href="{%url 'transaction_home'%}" class="btn-primary badge-pill btn-sm ml-4">back to loans</a>
   <hr>

 {%for transaction in object_list%}
  <div onclick="window.location='{%url 'transaction_update' transaction.id%}';" style="cursor: pointer;" >
   <b style="color: blue;">Client details</b> 
        
      
       <b > Name:</b>{{transaction.clients_name}}<b>|Id</b>:{{transaction.id_number}}<b>|Phone</b>:{{transaction.phone}}

        <br>
        
        
        <b>Lending date..........................</b>{{transaction.transaction_date|date:'j b,y'}}
      
         <br>
      
        <b>Amount applied.......................</b>{{transaction.amount_applied}}
       

        <br>
     
        <b>Amount payable.......................</b>{{transaction.loan_payable_amount}}

         <br>
     
        <b>Interest charged.......................</b>{{transaction.interest_due}}

        
         <br>
     
        <b>Repaid amount.........................</b>{{transaction.repayment}}
         <br>
        <b>Repayment day.......................</b>{{transaction.repayment_day}}

         <br>
     
        <b>Repayment date.....................</b>{{transaction.due_weekly_date|date:'j b,y'}}

        
         <br>
     
        <b>Loan balance..........................</b>{{transaction.loan_balance_calculation}}
         <br>
        <b>Fines charged..</b>{{transaction.fines_charged}}<b>|Default days</b>:{{transaction.defaulted_days}}<b>|Fines</b>:{{transaction.fines_calculation}}

        
         <br>
     
        <b>Loan status.....................</b>{{transaction.loan_status}}
        <br>
        
        <b>Physical address......................</b>{{transaction.physical_address}}
        <br>
        <b>Security offered..</b>{{transaction.security_offered}}
        <br>
        <b>Approved by.......</b>{{transaction.lender}}
        <a href="{%url 'transaction_delete' transaction.id%}" class="btn-primary badge-pill btn-sm ml-4">delete</a> 
        
  </div>    
<hr>
{%endfor%}
{%endblock%}

