{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>


<strong style="color: blue;">REPORTS </strong><br>
{%for transaction in transactions|slice:":1"%}
<b>Total payable loans......</b>{{transaction.loans_payable_total}} <br>
<b>Total interest...............</b>{{transaction.interest_total}} <br>
<b>Total loans given........</b>{{transaction.loans_given_total}} <br>
<b>Total loan balances......</b>{{transaction.loan_balance_total}}<br>
<b>Loans repaid.................</b>{{transaction.loans_repaid_total}}<br>
<b>Loans disbursed..........</b>{{transaction.loans_disbursed_total}} <br>
<b>Cash today.................</b>{{transaction.cash_today_total}} <br>
<b>Date today.............. </b>{{transaction.the_date_today|date:'j b,y'}}

{%endfor%}



<hr>

  <form class="form-inline search" action="{%url 'search_results'%}" method="get">
    <input  name="q"  type="text" class="form-control mr-sm-2" type="search" placeholder=" id.no or rp.day or loan status" aria-label="Search"> 
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>  <form class="ml-4" style="color: black;">
  </form>                                 

<hr>

  <strong style="color: blue;">CLIENTS TRANSACTIONS </strong> 
   
   <a href="{%url 'transaction_create'%}" class="btn-primary badge-pill btn-sm ml-4">add clients</a>
   
   <hr>

 {%for transaction in transactions%}
  <div onclick="window.location='{%url 'transaction_update' transaction.id%}';" style="cursor: pointer;" >
   <b style="color: blue;">Client details</b> 
        
      
       <b > Name:</b>{{transaction.clients_name}}<b>|Id</b>:{{transaction.id_number}}<b>|Phone</b>:{{transaction.phone}}

        <br>
        
        
        <b>Lending date..........................</b>{{transaction.transaction_date|date:'j b,y'}}
      
         <br>
      
        <b>Amount applied.......................</b>{{transaction.amount_applied}}
       

        <br>
     
        <b>Amount payable.......................</b>{{transaction.loan_payable_amount}}

         <br>
     
        <b>Interest charged.......................</b>{{transaction.interest_due}}

        
         <br>
     
        <b>Repaid amount.........................</b>{{transaction.repayment}}
         <br>
        <b>Repayment day.......................</b>{{transaction.repayment_day}}

         <br>
     
       
      <b>Repayment date.....................</b>{{transaction.due_weekly_date|date:'j b,y'}}

        
         <br>
     
        <b>Loan balance..........................</b>{{transaction.loan_balance_calculation}}
         <!-- <br> -->
        <!-- <b>Fines charged..</b>{{transaction.fines_charged}}<b>|Default days</b>:{{transaction.defaulted_days}}<b>|Fines</b>:{{transaction.fines_calculation}} -->

        
         <br>
     
        <b>Loan status.....................</b>{{transaction.loan_status}}
        <br>
        
        <b>Physical address......................</b>{{transaction.physical_address}}
        <br>
        <b>Security offered..</b>{{transaction.security_offered}}
        <br>
        <b>Approved by.......</b>{{transaction.lender}}
        <a href="{%url 'transaction_delete' transaction.id%}" class="btn-danger badge-pill btn-sm ml-4">delete</a> 
        
  </div>    
<hr>
{%endfor%}
{%endblock%}

