{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
    <strong style="color: blue;">PRODUCTS SEARCH RESULTS </strong> 
   
   
      <a href="{%url 'product_home'%}" class="btn-primary badge-pill btn-sm ml-4">home</a>
   <hr>
  <div class="table-responsive ">
        <table id="dataTable" class="table table-sm  table-light table-bordered  table-hover">
          
          
            
          <thead class="table-light">
                    <th scope="col" style="color:black;">Date</th>
                    <th scope="col" style="color:black;">Day</th>
                    <th scope="col" style="color:black;"> Product name</th>
                    <th scope="col" style="color:black;">For loan?</th>
                    <th scope="col" style="color:black;">Product quantity</th>
                    <th scope="col" style="color: black;">Sold products</th>
                    <th scope="col" style="color:black;">Price for each</th>
                    <th scope="col" style="color: black;">Total price</th>
                    
                    <th scope="col" style="color: black;">Remaining products</th>
                    <th scope="col" style="color: black;">Added by</th>
  
                </tr>
            </thead>
        
            <tbody>
                <tr>
                {%for product in object_list%}
                    
                    
                    
                    <td>  <b><a href="{%url 'product_update' product.id%}" style="color: black;">{{product.transaction_date|date:'j b,y'}}</a></b></td>
                    <td ><b>{{product.sales_day}}</b></td>
                    <td ><b>{{product.product_name}}</b></td>
                    <td ><b>{{product.is_it_for_loan}}</b></td>
         
                    <td><b>{{product.product_quantity}}</b></td>
                    <td><b>{{product.product_quantity_sold}}</b></td>
                    <td><b>{{product.product_price}}</b></td>
                    <td><b>{{product.actual_price}}</b></td>
                    <td><b>{{product.sales_today}}</b></td>
                    
                    <td><b><a href="{%url 'product_delete' product.id%}" style="color: black;">{{product.remaining_stock}}</a></b></td>
                    <td><b>{{product.lender}}</b></td>
                   
                   
                    
                </tr>
                 </tbody>
                {%endfor%}
    </table>

{%endblock%}